global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend stats_front
    bind *:8080
    stats enable
    stats uri /stats
    stats realm HAProxy\ Statistics
    stats auth admin:haproxy123
    stats refresh 5s
    stats show-legends
    stats show-node

frontend http_front
    bind *:80
    option forwardfor

    http-request set-path %[path,regsub(/+$,)]

    acl is_users    path_beg /api/users
    acl is_products path_beg /api/products
    acl is_orders   path_beg /api/orders

    use_backend users_back    if is_users
    use_backend products_back if is_products
    use_backend orders_back   if is_orders

    default_backend no_match

backend users_back
    balance roundrobin
    option httpchk GET /api/users
    server users1 192.168.50.12:3001 check inter 2s fall 2 rise 2
    server users2 192.168.50.12:3011 check inter 2s fall 2 rise 2

backend products_back
    balance roundrobin
    option httpchk GET /api/products
    server products1 192.168.50.12:3002 check inter 2s fall 2 rise 2
    server products2 192.168.50.12:3012 check inter 2s fall 2 rise 2

backend orders_back
    balance roundrobin
    option httpchk GET /api/orders
    server orders1 192.168.50.12:3003 check inter 2s fall 2 rise 2
    server orders2 192.168.50.12:3013 check inter 2s fall 2 rise 2

backend no_match
    http-request deny deny_status 404
